<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title th:text="#{dashboard.dashboard}">Dashboard title</title>
</head>
<body>

<h1 layout:fragment="header" th:text="#{dashboard.dashboard}">Dashboard Header</h1>

<div layout:fragment="content">
    <div class="row no-gutters justify-content-end">
        <div data-qa="welcome" class="col-auto" style="line-height: 38px;">
            <span th:text="#{dashboard.greeting}">Welcome</span>
            <span th:text="${currentUser.name}">Username</span>
        </div>

        <form method="post" th:action="@{/logout}" class="col-auto">
            <button data-qa="sign-out" class="btn btn-link" th:text="#{general.sign_out}">Sign out</button>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <a href="#" th:href="@{/quizzes}" th:text="#{quiz.list}">Quiz list</a>
        </div>
    </div>
</div>

</body>
</html>